KIA_USERNAME=deine@email.de
KIA_PASSWORD=(deinPasswort)
KIA_PIN=0000
KIA_VEHICLE_ID=
API_KEY=hier-einen-langen-zufaelligen-string-eintragen
OPENCHARGEMAP_API_KEY=
GOINGELECTRIC_API_KEY=
DRY_RUN=false
